*.Release
build-MindfieldsServer-Desktop_Qt_5_8_0_MinGW_32bit-Debug/Makefile
*.Debug
*.o
build-MindfieldsServer-Desktop_Qt_5_8_0_MinGW_32bit-Debug/.qmake.stash
MindfieldsServer/debug/moc_predefs.h
*.stash
*.exe
MindfieldsClient/debug/moc_mindfieldsclient.cpp
MindfieldsClient/debug/moc_predefs.h
*.user
MindfieldsClient/Makefile
MindfieldsClientSim/debug/moc_mindfieldsclientsim.cpp
MindfieldsClientSim/debug/moc_predefs.h
MindfieldsClientSim/Makefile
MindfieldsClientSim/ui_mindfieldsclientsim.h
MindfieldsClientSimCpp/debug/moc_mindfieldsclientsim.cpp
MindfieldsClientSimCpp/debug/moc_predefs.h
MindfieldsClientSimCpp/Makefile
MindfieldsClientMockupQML/Makefile
MindfieldsServerCpp/debug/moc_predefs.h
MindfieldsServerCpp/debug/dict.txt
MindfieldsClientMockupQML/debug/qrc_qml.cpp